@import 'palette';

.container {
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  grid-template-columns: 100px 200px auto auto;

  .gridItem {
    background-color: $orange;
    color: $white;
    font-size: 36px;
  }

  .gridItem:nth-of-type(2) {
    grid-row-start: span 2;
  }

  .gridItem:nth-of-type(6) {
    grid-column: 3 / span 2;
  }
}
